/*
 *  Font Icons
 *
 *  Shorthand to implement font icon
 *
    @include hidden();
 */

@mixin font-icon($content: '') {
    @if $content {
        content: $content;
    }
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
